{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="../css/home.css">
{% endblock %}

{% block body %}
	<div class="container-list">
		<div class="list-items">
			<div class="items">
				<h1 class="statut">Mangaka</h1>
				<p class="prenom">
					Enzo
				</p>
				<p class="nom">
					Faisant
				</p>
				<p class="mail">
					Enzoenfaisant@meremalade.com
				</p>
				<p class="facebook">
					<a href=""><i class="fab fa-facebook"></i></a>
				</p>
				<p class="twitter">
					<a href=""><i class="fab fa-facebook"></i></a>
				</p>
				<p class="insta">
					<a href="">icone insta</a>
				</p>
				<p class="linknd">
					<a href="">icone linknd</a>
				</p>
				<p class="tel">
					06 05 04 01 02 99
				</p>
				<h2 class="inscrit">
					Inscrit : Non
				</h2>

			</div>
            <div class="items">
				<h1 class="statut">Mangaka</h1>
				<p class="prenom">
					Enzo
				</p>
				<p class="nom">
					Faisant
				</p>
				<p class="mail">
					Enzoenfaisant@meremalade.com
				</p>
				<p class="facebook">
					<a href="">icone facebook</a>
				</p>
				<p class="twitter">
					<a href="">icone twitter</a>
				</p>
				<p class="insta">
					<a href="">icone insta</a>
				</p>
				<p class="linknd">
					<a href="">icone linknd</a>
				</p>
				<p class="tel">
					06 05 04 01 02 99
				</p>
				<h2 class="inscrit">
					Inscrit : Non
				</h2>

			</div>
            <div class="items">
				<h1 class="statut">Mangaka</h1>
				<p class="prenom">
					Enzo
				</p>
				<p class="nom">
					Faisant
				</p>
				<p class="mail">
					Enzoenfaisant@meremalade.com
				</p>
				<p class="facebook">
					<a href="">icone facebook</a>
				</p>
				<p class="twitter">
					<a href="">icone twitter</a>
				</p>
				<p class="insta">
					<a href="">icone insta</a>
				</p>
				<p class="linknd">
					<a href="">icone linknd</a>
				</p>
				<p class="tel">
					06 05 04 01 02 99
				</p>
				<h2 class="inscrit">
					Inscrit : Non
				</h2>

			</div>
            <div class="items">
				<h1 class="statut">Mangaka</h1>
				<p class="prenom">
					Enzo
				</p>
				<p class="nom">
					Faisant
				</p>
				<p class="mail">
					Enzoenfaisant@meremalade.com
				</p>
				<p class="facebook">
					<a href="">icone facebook</a>
				</p>
				<p class="twitter">
					<a href="">icone twitter</a>
				</p>
				<p class="insta">
					<a href="">icone insta</a>
				</p>
				<p class="linknd">
					<a href="">icone linknd</a>
				</p>
				<p class="tel">
					06 05 04 01 02 99
				</p>
				<h2 class="inscrit">
					Inscrit : Non
				</h2>

			</div>
            <div class="items">
				<h1 class="statut">Mangaka</h1>
				<p class="prenom">
					Enzo
				</p>
				<p class="nom">
					Faisant
				</p>
				<p class="mail">
					Enzoenfaisant@meremalade.com
				</p>
				<p class="facebook">
					<a href="">icone facebook</a>
				</p>
				<p class="twitter">
					<a href="">icone twitter</a>
				</p>
				<p class="insta">
					<a href="">icone insta</a>
				</p>
				<p class="linknd">
					<a href="">icone linknd</a>
				</p>
				<p class="tel">
					06 05 04 01 02 99
				</p>
				<h2 class="inscrit">
					Inscrit : Non
				</h2>

			</div>
            <div class="items">
				<h1 class="statut">Mangaka</h1>
				<p class="prenom">
					Enzo
				</p>
				<p class="nom">
					Faisant
				</p>
				<p class="mail">
					Enzoenfaisant@meremalade.com
				</p>
				<p class="facebook">
					<a href="">icone facebook</a>
				</p>
				<p class="twitter">
					<a href="">icone twitter</a>
				</p>
				<p class="insta">
					<a href="">icone insta</a>
				</p>
				<p class="linknd">
					<a href="">icone linknd</a>
				</p>
				<p class="tel">
					06 05 04 01 02 99
				</p>
				<h2 class="inscrit">
					Inscrit : Non
				</h2>

			</div>
            <div class="items">
				<h1 class="statut">Mangaka</h1>
				<p class="prenom">
					Enzo
				</p>
				<p class="nom">
					Faisant
				</p>
				<p class="mail">
					Enzoenfaisant@meremalade.com
				</p>
				<p class="facebook">
					<a href="">icone facebook</a>
				</p>
				<p class="twitter">
					<a href="">icone twitter</a>
				</p>
				<p class="insta">
					<a href="">icone insta</a>
				</p>
				<p class="linknd">
					<a href="">icone linknd</a>
				</p>
				<p class="tel">
					06 05 04 01 02 99
				</p>
				<h2 class="inscrit">
					Inscrit : Non
				</h2>

			</div>
            <div class="items">
				<h1 class="statut">Mangaka</h1>
				<p class="prenom">
					Enzo
				</p>
				<p class="nom">
					Faisant
				</p>
				<p class="mail">
					Enzoenfaisant@meremalade.com
				</p>
				<p class="facebook">
					<a href="">icone facebook</a>
				</p>
				<p class="twitter">
					<a href="">icone twitter</a>
				</p>
				<p class="insta">
					<a href="">icone insta</a>
				</p>
				<p class="linknd">
					<a href="">icone linknd</a>
				</p>
				<p class="tel">
					06 05 04 01 02 99
				</p>
				<h2 class="inscrit">
					Inscrit : Non
				</h2>

			</div>
		</div>
	</div>
{% endblock %}
